body{
  background-color: grey;
}

<link href="https://fonts.googleapis.com/css?family=Srisakdi" rel="stylesheet">

h1 {
  color: blue;
  text-align: center;
}

<h1 style="border: 2px solid Tomato;">Hello World</h1>
